$font-roboto: 'Roboto', sans-serif;
$font-header: 'Oswald', sans-serif;
$gray-color: #313131;
$white-color: #fff;
$transparent-color: transparent;
$light-gray: #c5c5c5;
$font-header: 'Oswald', sans-serif;
@mixin paddingLR{
  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
}
/*================GENERAL CLASS=================*/
body,html,p,div {
  font-family: $font-roboto;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font-header;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: unset;
  &:hover {
    color: inherit;
    text-decoration: unset;
  }
}
body{
  background-color: $gray-color;
}
.otherWrapper {
  padding-top: 10vh;
}
section.wrapper {
  margin-top: 10vh;
  @include paddingLR;
  color: $white-color;
  min-height: 90vh;
}
html{
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $gray-color;
    box-shadow: inset 0 0 6px $gray-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $light-gray;
    outline: 1px solid $light-gray;
    border-radius: 10px;
  }
}
.paddingLR{
  @include paddingLR
}
/*================GENERAL CLASS=================*/
/*============NAV==============*/
.other-header {
  background-color: $gray-color;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5vw;
  z-index: 99;
  border-bottom: 1px solid #fff;
  .identity {
    position: relative;
    display: flex;
    align-items: flex-end;
    svg {
      height: 2rem;
    }
    &::before {
      content: '';
      width: 5vw;
      height: 3px;
      background-color: #fff;
    }
    img {
      height: 3rem;
    }
  }
  nav.menu-list-items {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 3rem;
      li.menu-list-item {
        a {
          color: #fff;
          text-transform: capitalize;
          font-family: 'Oswald', sans-serif;
          padding-left: 10px;
          span.user-name{
            margin-left: 10px;
            color: $light-gray;
          }
        }
        &.active{
          opacity: 0.5;
        }
      }
    }
  }
}
/*============NAV==============*/
/*============HOME==============*/
.homeSliderContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: $gray-color;
  >.row {
    width: 100%;
    height: 100%;
    >div {
      width: 100%;
      height: 100%;
      .swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
          .slider-wrapper {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            .slider-overlay {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .slider-wrapper.two {
            &::before {
              width: 100%;
              position: absolute;
              top: 50%;
              left: 0;
              background-color: #fff;
              height: 1px;
              content: '';
              z-index: 1;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}
.slider-wrap-box-one {
  width: 70%;
  position: relative;
  z-index: 2;
  height: 100%;
  .slider-wrap {
    width: 100%;
    height: 50vh;
    padding-left: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    padding-right: 5vw;
    h1 {
      letter-spacing: 4px;
      margin-bottom: 2rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
  .slider-wrap.two {
    p {
      background-color: #fff;
      color: #000;
      padding: 3rem 5rem;
    }
    justify-content: flex-start;
    border-top: 1px solid #fff;
    padding-right: 0;
  }
}
.slider-wrap-box-two {
  width: 30%;
  position: relative;
  height: 90vh;
  margin-top: 10vh;
  border-left: 1px solid #fff;
  .videoWrapper {
    height: 40vh;
    border-bottom: 1px solid #fff;
    padding-right: 5vw;
    display: flex;
    align-items: flex-end;
    .videoBox {
      height: 24vh;
      margin-bottom: 1px;
      width: 100%;
      .rh5v-DefaultPlayer_controls {
        opacity: 0;
      }
      video.rh5v-DefaultPlayer_video {
        object-fit: cover;
      }
      div {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.slider-text-wrapper {
  width: 50%;
  position: relative;
  height: 90vh;
  margin-top: 10vh;
  margin-left: auto;
  background-color: #fff;
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  > p {
    margin: 4rem 0;
  }
  .featureBoxes {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    justify-content: space-between;
    .featureBox {
      width: 30%;
      text-align: center;
      p.title {
        font-weight: bold;
        font-family: 'Oswald', sans-serif;
      }
      img {
        margin-bottom: 2rem;
      }
      span.subTitle {
        color: gray;
      }
    }
  }
}
.swiper-pagination {
  top: auto !important;
  transform: unset !important;
  bottom: 4rem;
  right: 2rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  span.swiper-pagination-bullet {
    opacity: 1;
    background-color: #d1d1d1;
    &.swiper-pagination-bullet-active {
      height: 18px;
      border-radius: 20px;
      width: 6px;
    }
  }
}
/*============HOME==============*/
/*============LOGIN==============*/
.login-container {
  position: relative;
  width: 100%;
  @include paddingLR;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 20px;
  width: 100%;
}

/* reset input */
.form__field {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  color: $white-color;
  padding: 12px 0 7px;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  transition: border-color 0.2s;
  border-radius: 0;
  color: $white-color;

  &::-webkit-input-placeholder {
    color: $transparent-color;
  }
  &::-moz-placeholder {
    color: $transparent-color;
  }
  &:-ms-input-placeholder {
    color: $transparent-color;
    ~ {
      .form__label {
        font-size: 1rem;
        cursor: text;
        top: 20px;
      }
    }
  }
  &::-ms-input-placeholder {
    color: $transparent-color;
  }
  &::placeholder {
    color: $transparent-color;
  }
  &:-moz-placeholder-shown {
    ~ {
      .form__label {
        font-size: 1rem;
        cursor: text;
        top: 20px;
      }
    }
  }
  &:placeholder-shown {
    ~ {
      .form__label {
        font-size: 1rem;
        cursor: text;
        top: 20px;
      }
    }
  }
  &:focus {
    color: $white-color;
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    -o-border-image: -o-linear-gradient(left, #ffffff, #868686);
    border-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#868686));
    border-image: linear-gradient(to right, #ffffff, #868686);
    border-image-slice: 1;
    background-color: $transparent-color;
    border-color: $transparent-color;
    box-shadow: unset;
    ~ {
      .form__label {
        position: absolute;
        top: 0;
        display: block;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        font-size: 1rem;
        color: $white-color;
        font-weight: 700;
      }
    }
  }
  &:required {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &:invalid {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: $light-gray;
  font-family: $font-header;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0;
}
button.login {
  margin-left: auto;
  display: block;
  margin-top: 2rem;
  border: unset;
  color: $white-color;
  border-radius: 0;
  transition: all linear 0.3s;
  padding: 0;
  &:hover{
    border-bottom: 1px solid $white-color;
    background-color: transparent;
  }
}

form input::-webkit-input-placeholder,form textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
form input::-moz-placeholder,form textarea::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
form input:-ms-input-placeholder,form textarea:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
form input:-moz-placeholder,form textarea:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
/*============LOGIN==============*/
/*============REGISTER==============*/
.registerFinalWrapper {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  @include paddingLR;
  h1{
    font-size: 1.6rem;
    color: $white-color;
    margin: 0;
    padding-right: 2rem;
  }
  img{
    height: 3rem;
  }
  span{
    font-size: 0.9rem;
    font-weight: 100;
  }
}
.avatar-wrap {
  position: relative;
  cursor: pointer;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  margin: 0 auto;
  img{
    height: 100%;
    position: relative;
    z-index: 1;
    border: 2px solid white;
    border-radius: 50%;
    width: 8rem;
    object-fit: cover;
  }
  input#photo-upload{
    opacity: 0;
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    z-index: 2;
    cursor: pointer;
  }
  &::before{
    content: '';
    position: absolute;
    top: 3px;
    right: 10px;
    background-image: url(../../../public/images/edit.svg);
    width: 1.5rem;
    height: 1.5rem;
    z-index: 3;
    background-size: 60%;
    background-color: $white-color;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
  }
}
input {
  &:-webkit-autofill {
    border-bottom: 1px solid $white-color;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0 1000px #313131 inset;
    transition: background-color 5000s ease-in-out 0s;
    &:hover {
      border-bottom: 1px solid $white-color;
      -webkit-text-fill-color: #fff;
      -webkit-box-shadow: 0 0 0 1000px #313131 inset;
      transition: background-color 5000s ease-in-out 0s;
    }
    &:focus {
      border-bottom: 1px solid $white-color;
      -webkit-text-fill-color: #fff;
      -webkit-box-shadow: 0 0 0 1000px #313131 inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}
textarea {
  &:-webkit-autofill {
    border-bottom: 1px solid $white-color;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0 1000px #313131 inset;
    transition: background-color 5000s ease-in-out 0s;
    &:hover {
      border-bottom: 1px solid $white-color;
      -webkit-text-fill-color: #fff;
      -webkit-box-shadow: 0 0 0 1000px #313131 inset;
      transition: background-color 5000s ease-in-out 0s;
    }
    &:focus {
      border-bottom: 1px solid $white-color;
      -webkit-text-fill-color: #fff;
      -webkit-box-shadow: 0 0 0 1000px #313131 inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}
select {
  &:-webkit-autofill {
    border-bottom: 1px solid $white-color;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0 1000px #313131 inset;
    transition: background-color 5000s ease-in-out 0s;
    &:hover {
      border-bottom: 1px solid $white-color;
      -webkit-text-fill-color: #fff;
      -webkit-box-shadow: 0 0 0 1000px #313131 inset;
      transition: background-color 5000s ease-in-out 0s;
    }
    &:focus {
      border-bottom: 1px solid $white-color;
      -webkit-text-fill-color: #fff;
      -webkit-box-shadow: 0 0 0 1000px #313131 inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}

/*============REGISTER==============*/
/*==========USER ACCOUNT============*/
section.userAccountSection {
  min-height: 90vh;
  position: relative;
  &::before{
    content: '';
    background-image: url(../../../public/images/user-account-overlay.jpg);
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .userAccountContainer{
    position: relative;
    z-index: 2;
    .account-user-wrap {
      background-color: rgb(49 49 49 / 68%);
      border-radius: 15px;
      padding: 1.5rem;
      form{
        width: 100%;
        button.btn.saveBtn {
          margin: 49px auto 10px;
          display: block;
          border-radius: 0;
        }
      }
    }
    img.user-profile {
      height: 12rem;
      width: 12rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
section.show-hidden-box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 3px;
    right: 0;
  }
}
/*==========USER ACCOUNT============*/
/*==========About============*/
.about-box-one{
  display: flex;
  margin-top: 5rem;
  column-gap: 6rem;
}
.aboutBackgroundContainer {
  position: relative;
  width: 100%;
  height: 70vh;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.memberWrapper{
  .memberWrap {
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 5rem;
    .memberMedia {
      width: 100%;
      height: 45vh;
      margin-bottom: 2rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.minesWrap {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 5rem;
  .memberMedia {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-bottom: 2rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.minesWrapper {
  margin-top: 7rem;
  h2{
    margin-bottom: 4rem;
  }
}
/*==========About============*/
/*==========BLOG============*/
.blogContainer{
  position: relative;
  width: 100%;
  display: block;
  h1{
    margin: 3rem 0;
  }
}
.blogContainer {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 6rem;
  .blogWrap {
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 4rem;
    .blogMedia {
      width: 100%;
      height: 45vh;
      margin-bottom: 2rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .blogInfo {
      position: relative;
      width: 100%;
      display: block;
      h2 {
        margin: 2rem 0;
      }
      span.date {
        font-size: 0.9rem;
        font-weight: 400;
      }
    }
  }
}
.singleBlogContainer {
  position: relative;
  width: 100%;
  display: block;
  h1{
    margin-bottom: 0;
  }
  .blogMedia {
    position: relative;
    width: 100%;
    height: 60vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .blog-info {
    margin: 5rem 0;
  }
}
section.wrapperLargePadding {
  position: relative;
  padding-top: 10vh;
  padding-left: 25vw;
  padding-right: 25vw;
  color: #fff;
}
/*==========BLOG============*/
/*==========STONES============*/
.stoneWrap {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 5rem;
  .stoneMedia {
    position: relative;
    width: 100%;
    height: 40vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .stoneInfo {
    text-align: center;
    text-transform: capitalize;
    margin-top: 2rem;
  }
}
.loadingBox{
  position: fixed;
  width: 100%;
  top: 0;
  height: 100vh;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    text-align: center;
    font-size: 2rem;
    font-family: $font-header;
  }
}
/*==========STONES============*/
/*==========CONTACT US============*/
section.wrapperFullWidth {
  position: relative;
  margin-top: 10vh;
  color: #fff;
  width: 100%;
  display: block;
}
#map {
  position: relative;
  width: 100%;
  height: 60vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.contactInfo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
  margin-bottom: 6rem;
  margin-top: 4rem;
  a {
    font-size: 1.2rem;
    font-family: $font-header;
  }
}
/*==========CONTACT US============*/
/*==========FOOTER============*/
footer {
  width: 100%;
  position: relative;
  display: block;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-top: 1px solid #fff;
  color: #fff;
  .footer-col-one {
    a.identity {
      margin-bottom: 2rem;
      position: relative;
      width: 100%;
      display: block;
      img {
        height: 3rem;
      }
    }
  }
  .footer-col-menu {
    margin-top: 5rem;
    ul{
      li{
        a{
          text-transform: capitalize;
          font-size: 1.1rem;
          line-height: 2;
          display: block;
        }
      }
    }
  }
  .footer-col-social-media {
    margin-top: 5rem;
    ul{
      display: flex;
      align-items: center;
      column-gap: 18px;
      li{
        font-size: 1.3rem;
      }
    }
  }
}
/*==========FOOTER============*/

